# This is Git's per-user configuration file.
[credential]
	helper = cache --timeout=3600
[user]
	name = vatrat
	email = vatrat.dev@gmail.com
[push]
	default = matching
[mergetool]
	path = nvim
[merge]
	tool = vimdiff