*
**/.swp

!/.gitignore
!/.gitconfig

!/.config
!/.config/nvim
!/.config/nvim/init.vim

!/.xmonad
!/.xmonad/xmonad.hs
!/.xmonad.sh

!/.stalonetrayrc
!/.xmobarrc

!/.Xresources

!/.tmux.conf

!/.bashrc
!/.ps1rc
