# Dotfile .gitignore

# Mass-ignore
*
**/.swp

# Git
!/.gitignore
!/.gitconfig

# Bash
!/.bashrc
!/.bash_aliases
!/.ps1rc

# Tmux
!/.tmux.conf

# Neovim
!/.config
!/.config/nvim
!/.config/nvim/init.vim

# Spacemacs
!/.spacemacs

# Taskwarrior
!/.config/taskwarrior
./config/taskwarrior/**
/.taskrc

# XMonad
!/.xmonad
!/.xmonad/xmonad.hs
!/.xmonad/.xmobar_volume.sh
!/.xmonad/.xmonad_lock.sh
!/.stalonetrayrc
!/.xmobarrc

# Xresources
!/.Xresources

# Folder structure for photos
!~/foto
!~/foto/background
!~/foto/shot
.pioenvs
.piolibdeps
