*
**/.swp

!/.gitignore
!/.gitconfig

!/.setup.sh

!/.config
!/.config/nvim
!/.config/nvim/init.vim
!/.config/taskwarrior
./config/taskwarrior/*

!/.xmonad
!/.xmonad/xmonad.hs
!/.xmonad/.xmobar_volume.sh

!/.stalonetrayrc
!/.xmobarrc

!/.Xresources

!/.tmux.conf

!/.bashrc
!/.ps1rc

!/.taskrc


!~/foto
!~/foto/background
!~/foto/shot
